
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    background-color: #f5f1f1;
}

#checkbox, .btn span { /* PARA NAO APARECER A CAIXINHA DO CHECK BOX */
    display: none;
}

/* Menu button  */
.btn {
    display: grid;
    background-color: #34af61;
    color: rgb(246, 246, 246);
    width: 50px;
    height: 60px;
    line-height: 50px;
    /*muda o tipo de cursor*/
    cursor: pointer;
     /*transiçao do menu*/
    transition: width .4s ease-in-out;
}


/* Sidebar - starts */
.sidebar {
    background-color: #181d18;
    position: fixed;
    width: 250px;
    height: 100%;
    transition: transform .4s ease-in-out;
    transform:  translateX(-190px);
    
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #f7effc;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

/* Add the word "New" to the second item and "2" to the third item */
.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    color: #fff;
    font-size: 13px;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sidebar ul a:nth-child(2)::after {
    content: "New";
    background-color: tomato;
}

.sidebar ul a:nth-child(3)::after {
    content: "2";
    background-color: #247D9E;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
    margin-left: 4px;
    margin-right: 19px;
}

.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #44c25b;
    color: #fff;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #247D9E;
    width: 4px;
    height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 250px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */