{% extends "Template.html"%}
{% block conteudo %}

    <div>
        <h1>Alimento</h1>
        <form class="col" id="formAlimento" action="/criar_alimento" method="post">
            <label id="label" hidden>Código</label>
            <input type="text" name="codigo" id="codigo" readonly="true" hidden/>
            </br> 
            <label>Nome</label>
            <input type="text" name="nome" id="nome">
            </br>
            <label>Descricao</label>
            <input type="text"  name="descricao" id="descricao">
            </br>
            <label>Valor Calorico</label>
            <input type="number" name="valor_calorico" id="valor_calorico">
            </br>
            <label>Valor Gordura</label>
            <input type="number" name="valor_gordura" id="valor_gordura">
            </br>
            <label>Valor Proteina</label>
            <input type="number" name="valor_proteina" id="valor_proteina">
            </br>
            <label>Valor Carboidrato</label>
            <input type="number" name="valor_carboidrato" id="valor_carboidrato">
            </br>
            <label>Ativo</label>
            <input type="checkbox"  value="1" name="ativo" id="ativo">
            </br>
            <input id="btnAlimento" type="submit" class="btn btn-primary" value="Enviar">
        </form>
        <table>
            <thead>
                <tr>

                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Valor Calórico</th>
                    <th>Valor Gordura</th>
                    <th>Valor Proteína</th>
                    <th>Valor Carboidrato</th>
                    <th>ativo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
            {% for alimento in alimentos %}
                <tr>
                    <td>{{alimento.codigo}}</td>
                    <td>{{alimento.nome}}</td>
                    <td>{{alimento.descricao}}</td>
                    <td>{{alimento.valor_calorico}}</td>
                    <td>{{alimento.valor_gordura}}</td>
                    <td>{{alimento.valor_proteina}}</td>
                    <td>{{alimento.valor_carboidrato}}</td>
                    <td>{{alimento.ativo}}</td>
                    <td><button onclick="carregaDadosDaTabelaParaFormAlimento(this)" type="submit" class="btn btn-primary">Editar</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{%endblock %}