   {% extends "template.html"%}
    {% block conteudo %}
<div>
    <form>
        <label>Alimento</label>
        <br>
        <input type="text" name="nome" id="nome">
    <br>
        <label>descricao</label>
        <input type="text"  name="descricao" id="descricao">
        <br>
        <label>Valor Calorico</label>
        <input type="number" name="valor_calorico" id="valor_calorico">
        <br>
        <label>Valor Gordura</label>
        <input type="number" name="valor_gordura" id="valor_gordura">
        <br>
        <label>Valor Proteina</label>
        <input type="number" name="valor_proteina" id="valor_proteina">
        <br>
        <label>Valor Carboidrato</label>
        <input type="number" name="valor_carboidrato" id="valor_carboidrato">
        <br>
        <label>Ativo</label>
        <input type="checkbox"  value="1" name="ativo" id="Ativo">
        <br>
        <input type="submit" name="submit" id="enviar"> 
     </form>

</div>
 
    
{%endblock %}