{%extends "Template.html"%}
{%block conteudo %}
    <form>
        <label>Nome</label>
        <br>
        <input type="text" name="Nome" id="Nome">
        <br>
        <label>descrição</label>
        <input type="text" name="descricao" id="descricao">
        <br>
        <label>Gasto Calorico</label>
        <input type="number" name="data_fim" id="data_fim">
        <br>
        <label>Tipo</label>
        <input type="Tipo" name="data_fim" id="data_fim">
        <br>
        <label>Ativo</label>
        <input type="checkbox"  value="1" name="ativo" id="ativo">
        <br>
        <input type="submit" name="submit" id="enviar"> 
    
     </form>

     <table>
        <thead>
            <tr>
                <th>codigo</th>
                <th>nome</th>
                <th>descricao</th>
                <th>gasto_calorico</th>
                <th>ativo</th>
            </tr>
        </thead>
        <tbody>
        {% for atividadefisica in atividadesfisicas %}
            <tr>
                <td>{{atividadefisica.codigo}}</td>
                <td>{{atividadefisica.nome}}</td>
                <td>{{atividadefisica.descricao}}</td>
                <td>{{atividadefisica.gasto_calorico}}</td>
                <td>{{atividadefisica.ativo}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock %}
