{%extends "template.html"%}
    {%block conteudo %}
    <form>
        <label>Nome</label>
        <br>
        <input type="text" name="Nome" id="Nome">
        <br>
        <label>descrição</label>
        <input type="text" name="descricao" id="descricao">
        <br>
        <label>Gasto Calorico</label>
        <input type="number" name="data_fim" id="data_fim">
        <br>
        <label>Tipo</label>
        <input type="Tipo" name="data_fim" id="data_fim">
        <br>
        <label>Ativo</label>
        <input type="checkbox"  value="1" name="ativo" id="ativo">
        <br>
        <input type="submit" name="submit" id="enviar"> 
    
    
    
    
     </form>

     {%endblock %}