{%extends "template.html"%}
    {%block conteudo %}
    <form>
        <label>Alimento</label>
        <br>
        <input type="text" name="Alimento" id="Alimento">
    
        <label>Ativo</label>
        <input type="checkbox" name=ativo value="1"  id="ativo">
        <br>
        <label>Data Inicio</label>
        <input type="date" name="data_inicio" id="data_inicio">
        <br>
        <label>Data Fim</label>
        <input type="date" name="data_fim" id="data_fim">
        <br>
        <input type="submit" name="submit" id="enviar"> 
    
    
    
    
     </form>


{%endblock %}