<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fortunato Roncholeta">
    <meta name="author" content="Isaias Santos de Souza">
    <meta name="author" content="Kevin Willians">
    <meta name="author" content="Maria jaqueline">
    <meta name="Keywords" content="Gestao Fisico Nutricional">
    <!--Facebook -->  
    
    <meta property="og:type" content="article">
    <meta property="og:title" content="Gestao Fisico Nutricional">
    <meta property="og:description" content="Gestao Fisico Nutricional">
    <meta property="og:url" content=>
    <meta property="og:site_name" content="Gestao Fisico Nutricional">
    <!--Twitter --> 
    <meta name="twitter:title" content="Gestao Fisico Nutricional"
    meta name="twitter:description" content="Gestao Fisico Nutricional"
    meta name="twitter:url" content=>

    <title>Gestao Fisico Nutricional</title>
    <link rel="icon" type="imagem/png" href="../static/IMG/IconSite.png" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav>
    </nav>
    </div>
    <div>
    <nav>
        <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Alimentos</a></li>
                    <li><a href="#">Cardapio</a>
                       <ul>
                            <li><a href="#">Novo Cardapio</a></li>
                            <li><a href="#">Abrir Cardapio</a></li>
                         </ul>
                  </li>
                  <li><a href="AtividadeFisica.html">Ativida Fisica</a></li>
              <li><a href="#">Contato</a></li>
              <li><a href="#">Ajuda</a></li>
      </ul>
      </nav>
    </div>
<di>
    <form>
        <label>Alimento</label>
        <br>
        <input type="text" name="Alimento" id="Alimento">
    
        <label>Ativo</label>
        <input type="checkbox" name=mybox value="1" name="" id="Ativo">
        <br>
        <label>Data Inicio</label>
        <input type="date" name="Data_Inicio" id="Data_Inicio">
        <br>
        <label>Data Fim</label>
        <input type="date" name="Data_Fim" id="Data_Fim">
        <br>
        <input type="submit" name="submit" id="enviar"> 
    
    
    
    
     </form>

</di>
 

   <footer>

   </footer>          
</body>
</html>