<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fortunato Roncholeta">
    <meta name="author" content="Isaias Santos de Souza">
    <meta name="author" content="Kevin Willians">
    <meta name="author" content="Maria jaqueline">
    <meta name="Keywords" content="Gestao Fisico Nutricional">
    <!--Facebook -->  
    
    <meta property="og:type" content="article">
    <meta property="og:title" content="Gestao Fisico Nutricional">
    <meta property="og:description" content="Gestao Fisico Nutricional">
    <meta property="og:url" content=>
    <meta property="og:site_name" content="Gestao Fisico Nutricional">
    <!--Twitter --> 
    <meta name="twitter:title" content="Gestao Fisico Nutricional"
    meta name="twitter:description" content="Gestao Fisico Nutricional"
    meta name="twitter:url" content=>

    <title>Gestao Fisico Nutricional</title>
    <link rel="icon" type="imagem/png" href="../static/IMG/IconSite.png" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />  
    
    
</head>


<section>
    <nav id="horizontal" >

        <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Alimentos</a></li>
                    <li><a href="#">Cardapio</a>
                       <ul>
                            <li><a href="Cardapio.html">Novo Cardapio</a></li>
                            <li><a href="#">Abrir Cardapio</a></li>
                         </ul>
                  </li>
              <li><a href="AtividadeFisica.html">Ativida Fisica</a></li>
              <li><a href="#">Contato</a></li>
              <li><a href="#">Ajuda</a></li>
      </ul>
      </nav>
</section>

<section>
    <nav id="vertical">
        <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="Alimento.html">Alimentos</a></li>
                    <li><a href="">Cardapio</a>
                       <ul>
                            <li><a href="Cardapio.html">Novo Cardapio</a></li>
                            <li><a href="#">Abrir Cardapio</a></li>
                         </ul>
                  </li>
              <li><a href="AtividadeFisica.html">Ativida Fisica</a></li>
              <li><a href="Contato.html">Contato</a></li>
              <li><a href="Ajuda.html">Ajuda</a></li>
      </ul>
      </nav>
    </section>


<body>
    <!-- Bem vindo Nome logado-->


   
    
   <footer>

    <p>@copyright Fortunato Roncholeta,Isaias Santos,Kevin Willians,Maria jaqueline</p>
   </footer>
           
</body>
</html>