<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fortunato Roncholeta">
    <meta name="author" content="Isaias Santos de Souza">
    <meta name="author" content="Kevin Willians">
    <meta name="author" content="Maria jaqueline">
    <meta name="Keywords" content="Gestao Fisico Nutricional">
    <!--Facebook -->  
    
    <meta property="og:type" content="article">
    <meta property="og:title" content="Gestao Fisico Nutricional">
    <meta property="og:description" content="Gestao Fisico Nutricional">
    <meta property="og:url" content=>
    <meta property="og:site_name" content="Gestao Fisico Nutricional">
    <!--Twitter --> 
    <meta name="twitter:title" content="Gestao Fisico Nutricional"
    meta name="twitter:description" content="Gestao Fisico Nutricional"
    meta name="twitter:url" content=>

    <title>Gestao Fisico Nutricional</title>
    <link rel="icon" type="imagem/png" href="../static/IMG/IconSite.png" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />  
    
    
</head>

<aside>
<input type="checkbox"  id="checkbox" checked>
<label class="btn" for="checkbox"> <span>Menu</span></label>

<div class="sidebar">
    <ul>
        <a href="#"><li>HOME</li></a>
        <a href="#"><li>ALIMENTOS</li></a>
        <a href="#"><li>CARDAPIO</li></a>
        <a href="#"><li>ATIVIDADE FISICA</li></a>
        <a href="#"><li>CONTATO</li></a>
        <a href="#"><li>AJUDA</li></a>
        <a href="#"><li>LOGIN</li></a>
        <a href="#"><li>LOGOUT</li></a>
        
    </ul>
</div>
</aside>


  
  
   
<body>
   
        <!-- Indica local onde o restante da página será carregado para cada
        página que tem como template padrão este arquivo -->
        {% block conteudo %} {%endblock %}
      
        
   <footer>

    <p>@copyright Fortunato Roncholeta,Isaias Santos,Kevin Willians,Maria jaqueline</p>
   </footer>
        <script src="/static/script.js"></script>
</body>
</html>